body {
  background-color: lightblue;
  font-family: "Raleway", sans-serif ;
}
/* header style */

.header-style {
    max-width: 1440;
    max-height: 698;
    background-image: url(ui/banner.png);
    background-size: cover;
   
}

/* logo style */

.logo {
    color: #4E47FF;
}
nav a {
  text-decoration: none;
}

 /* nav style */
 .nav-style {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
 }

/* banner font color and style*/

.raleway-font-banner {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  color: #252432;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 40px 20px;

}
section, div, button {
  align-items: center;
}


/* logo font color and style */

.inter-font-log {
  font-family: "Inter", sans-serif;
  font-size: 34;
  font-weight: bold;
  font-style: normal;
}

/* button style */
.btn-style {
    background-color: #4E47FF;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
    height: 30px;
    color: white;
}
.btn-style:hover{
  background-color: goldenrod;
  cursor: pointer;
}

/* main section style-1 */

.action-webflow {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  max-height: 328px;
  max-width: 1140px;
  display: flex;
  margin: 40px 40px;
  justify-content: space-between;
  align-items: center;
 
}
.wc-mini {
  height: 328px;
  width: 403px;
  border-radius: 15px;
  
}
/* card container style */

.card-container {
  max-width: 1140px;
  max-height: 342px;
  display: flex;
  gap: 10px;
}
/* card-style */

.card-style {
  max-width: 366px;
  max-height: 243px;
  border-radius: 14px;
  background-color: white;
  text-align: left;
  padding: 10px 10px 40px 15px;
  
}
/* user name date style */
/* .users-info {
  display: flex;
  text-decoration: none;
  color: #252432;
  justify-content: center;
  align-items: center;
  
} */
 .wc-big-style {
  max-width: 840px;
  max-height: 364px;
  border-radius: 20px;
  margin: 10px 20px 0px 40px;


 }
 .uses-users-container {
  background-color: #b3b0f3;
  max-height: 306px;
  max-width: 1140px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
 }

 .uses-users {
  width: 856px;
  height: 206px;
  display: flex;
  justify-content: center;
  gap: 45px;
  line-height: 5px;
 }

 .user-rating {
  color: #4E47FF;
  font-weight: bold;
  font-size: 50px;
 }

 /* .position-style {
  margin-top: 20px;
 } */
